state_machine.json
{
  "Comment": "E-commerce data pipeline orchestrator",
  "StartAt": "ValidationTask",
  "States": {
    "ValidationTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "default",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/validator-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "validator",
              "Environment": [
                {
                  "Name": "S3_BUCKET",
                  "Value.$": "$.detail.bucket.name"
                },
                {
                  "Name": "S3_KEY",
                  "Value.$": "$.detail.object.key"
                }
              ]
            }
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MoveFileToRejected"
        }
      ],
      "Next": "StagingTask"
    },
    "StagingTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "default",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/staging-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "staging",
              "Environment": [
                {
                  "Name": "S3_BUCKET",
                  "Value.$": "$.detail.bucket.name"
                },
                {
                  "Name": "S3_KEY",
                  "Value.$": "$.detail.object.key"
                },
                {
                  "Name": "AWS_REGION",
                  "Value": "us-east-1"
                }
              ]
            }
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ],
      "Next": "TransformationTask"
    },
    "TransformationTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "default",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/transformer-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "transformer",
              "Environment": [
                {
                  "Name": "S3_BUCKET",
                  "Value.$": "$.detail.bucket.name"
                },
                {
                  "Name": "AWS_REGION",
                  "Value": "us-east-1"
                }
              ]
            }
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ],
      "Next": "MoveFileToArchive"
    },
    "MoveFileToArchive": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:copyObject",
      "Parameters": {
        "Bucket": "lab6-realtime-ecommerce-pipelines",
        "CopySource.$": "States.Format('lab6-realtime-ecommerce-pipelines/{}', $.detail.object.key)",
        "Key.$": "States.Format('archive/{}', $.detail.object.key)"
      },
      "Next": "DeleteOriginalFile"
    },
    "DeleteOriginalFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:deleteObject",
      "Parameters": {
        "Bucket": "lab6-realtime-ecommerce-pipelines",
        "Key.$": "$.detail.object.key"
      },
      "End": true
    },
    "MoveFileToRejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:copyObject",
      "Parameters": {
        "Bucket": "lab6-realtime-ecommerce-pipelines",
        "CopySource.$": "States.Format('lab6-realtime-ecommerce-pipelines/{}', $.detail.object.key)",
        "Key.$": "States.Format('rejected/{}', $.detail.object.key)"
      },
      "Next": "DeleteRejectedOriginalFile"
    },
    "DeleteRejectedOriginalFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:deleteObject",
      "Parameters": {
        "Bucket": "lab6-realtime-ecommerce-pipelines",
        "Key.$": "$.detail.object.key"
      },
      "Next": "NotifyFailure"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:985539772768:PipelineFailureNotifications",
        "Message": {
          "Input.$": "$"
        }
      },
      "End": true
    }
  }
}
