state_machine.json
{
  "Comment": "E-commerce pipeline orchestration",
  "StartAt": "ValidateTask",
  "States": {
    "ValidateTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:985539772768:cluster/lab6-ecommerce-cluster",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/lab6-validation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8", "subnet-06ea69061a23f5360"],
            "SecurityGroups": ["sg-0f2388a02cbe58ce6"],
            "AssignPublicIp": "DISABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "validation-container",
              "Environment": [
                {
                  "Name": "EVENT_DATA",
                  "Value.$": "States.JsonToString($)"
                }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ],
      "Next": "ValidationChoice"
    },
    "ValidationChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Output",
          "BooleanEquals": true,
          "Next": "StageTask"
        }
      ],
      "Default": "NotifyFailure"
    },
    "StageTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:985539772768:cluster/lab6-ecommerce-cluster",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/lab6-staging-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8", "subnet-06ea69061a23f5360"],
            "SecurityGroups": ["sg-0f2388a02cbe58ce6"],
            "AssignPublicIp": "DISABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "staging-container",
              "Environment": [
                {
                  "Name": "EVENT_DATA",
                  "Value.$": "States.JsonToString($)"
                }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ],
      "Next": "IsOrderItemsChoice"
    },
    "IsOrderItemsChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Records[0].s3.object.key",
          "StringMatches": "input/*order_items*",
          "Next": "TransformTask"
        }
      ],
      "Default": "Success"
    },
    "TransformTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:985539772768:cluster/lab6-ecommerce-cluster",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/lab6-transformation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8", "subnet-06ea69061a23f5360"],
            "SecurityGroups": ["sg-0f2388a02cbe58ce6"],
            "AssignPublicIp": "DISABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "transformation-container",
              "Environment": [
                {
                  "Name": "EVENT_DATA",
                  "Value.$": "States.JsonToString($)"
                }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ],
      "Next": "DynamoDBTask"
    },
    "DynamoDBTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:985539772768:cluster/lab6-ecommerce-cluster",
        "TaskDefinition": "arn:aws:ecs:us-east-1:985539772768:task-definition/lab6-dynamodb-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-012d1aa4f3bd10af8", "subnet-06ea69061a23f5360"],
            "SecurityGroups": ["sg-0f2388a02cbe58ce6"],
            "AssignPublicIp": "DISABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "dynamodb-container",
              "Environment": [
                {
                  "Name": "EVENT_DATA",
                  "Value.$": "States.JsonToString($)"
                }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ],
      "Next": "Success"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:985539772768:lab6-pipeline-failure-notifications",
        "Message": "Pipeline failed for file: $.Records[0].s3.object.key",
        "Subject": "E-commerce Pipeline Failure"
      },
      "Next": "SendToDLQ"
    },
    "SendToDLQ": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/985539772768/lab6-pipeline-dlq",
        "MessageBody": {
          "FileKey.$": "$.Records[0].s3.object.key",
          "Error.$": "$.Error"
        }
      },
      "End": true
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
